@model Product
<h3>@Model.Name Information </h3>

<table class="table">
    <tr>
        <th>Name</th>
        <th>ProductID</th>
        <th>Price</th>
        <th>StockLevel</th>
        <th>OnSale</th>
    </tr>
    <tr>
        
        <td>@Model.ProductID</td>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.StockLevel</td>
        <td>@Model.OnSale</td>
        
    </tr>
</table>

<div style="display:block">
    <a href="/AdminInventory/UpdateProduct/@Model.ProductID">Update this product</a>
</div>

<div style="display:block">
@using (Html.BeginForm("DeleteProduct", "Product", "Post"))
            {
                <input type ="hidden" asp-for="ProductID" value="@Model.ProductID"/>
                <input type ="submit" onclick="return confirm('Are you sure?')" value="Delete this product"/>

            }
</div>

